<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="symbiosproduction.com.morbuslogs">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/morbus_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/morbus_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.GenericActivity"
        >


        <!-- Login Activity -->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:icon="@drawable/morbus_icon"
            android:theme="@style/AppTheme.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Home Activity -->
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/home_page_label"
            android:icon="@drawable/morbus_icon"
            android:theme="@style/AppTheme.GenericActivity">
        </activity>


    </application>

</manifest>